body {
    background-color: #f3d2b5;
  }

.container {
    border-radius: 20px;
    background-image:linear-gradient(rgba(245, 245, 245, .25), rgba(245, 245, 245, .6));
    box-shadow: 2px 2px 5px gray;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;

  }

.form-text{
  margin: 25px;
  font-size: 25pt;
}

.block-container{
  display: flex;
  margin-top: 10px;
}

form{
  width: 25vw;
}

input{
  width: 100%;
}

#lastName{
  margin-left: 20px;
}

button{
  margin: 15px;
}

