.navbar{
    background-color: rgb(226, 178, 55);
    box-shadow: 2px 2px 5px gray;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1500;
}

.navbar img{
    height: 140px;
    width: auto;
}

.navbar p{
    font-size: 20pt;
}

.menuIcon{
    width: 300px;
    display: flex;
    align-items: center;
}

.menuIcon img{
    height: 25px;
    margin-left: 20px;
    filter: invert(1);
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: inherit;
    color:aliceblue
}

.right-side-nav{
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.right-side-nav ul{
    display: flex;
    list-style-type: none;

}

.right-side-nav li{
    margin-right: 30px;
}

.right-side-nav li a{
    color: white;
    text-decoration: none;
}
