.navbar{
    background-color: #f28c8f;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar img{
    height: 50px;
    width: auto;
}

.navbar p{
    font-size: 20pt;
}

.menuIcon{
    width: 300px;
    display: flex;
    align-items: center;
}

.menuIcon img{
    height: 25px;
    margin-left: 20px;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.right-side-nav{
    width: 300px;
}

.right-side-nav ul{
    display: flex;
    list-style-type: none;

}

.right-side-nav li{
    margin: 25px;
}

.right-side-nav li NavLink{
    color: white;
    text-decoration: none;
}